html {
  font-size: var(--root-font-size--mobile);

  @db l {
    font-size: var(--root-font-size--desktop);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--text-base-size);
}
