@import 'init';
@import 'base/border-box';

body {
  color: color('text');
  background-color: color('bg');
  font-size: $base-font-size;

  @include respond-to('wide_1x') {
    background: green;
  }
}

a {
  color: color('link');

  &:hover {
    color: color('link-hover');
  }
}
