@import 'init';

@import 'base/border-box';

// Uncomment next import if you need trimming feature on the project.
// @import 'base/line-clamp';

body {
  background-color: color('bg');
  color: color('text');
  font-size: $base-font-size;
}

a {
  color: color('link');

  &:hover {
    color: color('link-hover');
  }
}
