@import 'init';
@import 'base/border-box';
@import '~project-components/components/atoms/test/a-test';

body {
  @extend %a-test;
  background-color: color('bg');
  color: color('text');
}

a {
  color: color('link');

  &:hover {
    color: color('link-hover');
  }
}
