html {
  font-size: var(--root-font-size--mobile);

  @drupal-breakpoint wide_1x {
    font-size: var(--root-font-size--desktop);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--text-base-size);
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
