/* ---------- Color Module Styles ----------- */

:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #484848;
  --color-4: #07beb8;
  --color-5: #3dccc7;
  --color-6: #68d8d6;
  --color-7: #9cefef;
  --color-8: #cbebeb;
  --color-9: #ff5353;
  --color-10: #ffd0d0;
}
