/* ---------- Color Module Styles ----------- */

:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #484848;
  --color-4: #f7f7f7;
  --color-5: #07beb8;
  --color-6: #3dccc7;
  --color-7: #68d8d6;
  --color-8: #9cefef;
  --color-9: #cbebeb;
  --color-10: #ff5353;
  --color-11: #ffd0d0;
  --color-12: #4fc695;
  --color-13: #e3aa42;
}
