@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import "./abstractions/_colors.css";
@import "./abstractions/_variables.css";
@import "./base/_border-box.css";
@import "./base/_embedded.css";
@import "./components/atoms/button/button.css";

html {
  font-size: var(--root-font-size--mobile);

  @drupal-breakpoint wide_1x {
    font-size: var(--root-font-size--desktop);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--base-font-size);
}
