/* ---------- Color Module Styles ----------- */

:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #07beb8;
  --color-4: #3dccc7;
  --color-5: #68d8d6;
  --color-6: #9cefef;
  --color-7: #c4fff9;
}
