---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/components/_root.css
---
html {
  font-size: var(--root-font-size);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--base-font-size);
}
